<div class="container">
  <div>
    <h2>Modifier un Vetement :</h2>
  </div>
  <form [formGroup]="myForm">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Vetement</label>
      <input readonly type="text" formControlName="idVetement" [(ngModel)]="currentVetement.idVetement" name="idVetement"
        class="form-control">
    </div>
    <span *ngIf="myForm.controls['idVetement'].hasError('required') && myForm.controls['idVetement'].touched"
      class="text-danger">
      ID Vetement est obligatoire
    </span>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Vetement</label>
      <input type="text" formControlName="nomVetement" [(ngModel)]="currentVetement.nomVetement" name="nomVetement"
        class="form-control">
    </div>
    <span *ngIf="myForm.controls['nomVetement'].hasError('required') && myForm.controls['nomVetement'].touched"
      class="text-danger">
      Nom de Vetement est obligatoire
    </span>
    <span *ngIf="myForm.controls['nomVetement'].hasError('minlength') &&
      myForm.controls['nomVetement'].touched" class="text-danger">
      Le nom de Vetement doit contenir au moins 5 caractères
    </span>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Vetement</label>
      <input type="number" formControlName="prixVetement" [(ngModel)]="currentVetement.prixVetement" name="prixVetement"
        class="form-control">
    </div>
    <span *ngIf="myForm.controls['prixVetement'].hasError('required') && myForm.controls['prixVetement'].touched"
      class="text-danger">
      Le prix de Vetement est obligatoire
    </span>
    <span *ngIf="myForm.controls['prixVetement'].hasError('min') && myForm.controls['prixVetement'].touched"
      class="text-danger">
      Le prix de Vetement doit être supérieur ou égal à 0
    </span>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date de Création</label>
      <input type="date" formControlName="datedeSortie" [ngModel]="currentVetement.dateCreation | date: 'yyyy-MM-dd'"
        (ngModelChange)="currentVetement.dateCreation = $event" name="datedeSortie" class="form-control">
    </div>
    <span *ngIf="myForm.controls['datedeSortie'].hasError('required') && myForm.controls['datedeSortie'].touched"
      class="text-danger">
      La date de création de Vetement est obligatoire
    </span>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Marque</label>
      <select class="form-control form-control-lg" id="idMarque" name="idMarque" formControlName="marque">
        <option *ngFor="let marque of marques" [value]="marque.idMar">
          {{ marque.nomMar }}
        </option>
      </select>
    </div>
    <span *ngIf="myForm.controls['marque'].hasError('required') && myForm.controls['marque'].touched"
      class="text-danger">
      La Marque de Vetement est obligatoire
    </span>

    <div class="mt-2">
      <button type="submit" (click)="updateVetement()" class="btn btn-success">Modifier</button>
    </div>
  </form>
</div>
