<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gestion des Vetements</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Gestion Vetements</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <!-- Home Link -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/vetement">Home</a>
      </li>

      <!-- Dropdown for Vetement -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Vetements
        </a>
        <div class="dropdown-menu">
          <a *ngIf="authService.isAdmin()"  class="dropdown-item" routerLink="/add-vetement">Ajouter</a>
          <a class="dropdown-item" routerLink="/vetement">Lister</a>
          <a class="dropdown-item" routerLink="/rechercheParMarque">Recherche</a>
          <a class="dropdown-item" routerLink="/rechercherParNom" >Recherche Par Nom</a>

        </div>
      </li>
    </ul>
    
    <!-- Right-aligned user options -->
    <ul class="navbar-nav ml-auto">
      <li> <a  class="nav-link">{{authService.loggedUser}}</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Connexion
        </a>
        <div class="dropdown-menu">
          <a  *ngIf="!authService.isloggedIn" class="dropdown-item"  routerLink="login" >Login</a>
          <a  *ngIf="!authService.isloggedIn" class="dropdown-item" click="onlogout()" >Logout</a>
          <a class="dropdown-item" href="#">Profile</a>
        </div>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>